* {
    scroll-behavior: smooth;
    cursor: url('images/Brawl_tree_pointer.png'), pointer;
    font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(170deg, rgba(186,150,14,1) 10%, rgba(255,209,0,1) 100%);
    margin: 0;
}
nav{
    margin: 15px;
}
.menu-btn{
    display: inline-block;
    margin-right: 15px;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 12px;
    box-shadow: 0.1rem 0.1rem 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255,255,255,0.8);
    padding: 0.5% 1%;
}
.menu-btn:hover{
    background: rgba(255,255,255,0.4);
    border-color: rgba(255,255,255,0.8);
    color: rgba(255,255,255,);
}
